<% if(success && success.length){ %>    <!--bcz even empty success is empty array , which is true in if statement-->
    <div class="alert alert-success alert-dismissable fade show col-6 offset-3" role="alert">
        <div class="d-flex justify-content-between align-items-center">
            <div><%= success %></div>
            <button type="button" class="btn-close ms-2" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
<% } %>

<% if(error && error.length){ %>   
    <div class="alert alert-danger alert-dismissable fade show col-6 offset-3" role="alert">
        <div class="d-flex justify-content-between align-items-center">
            <div><%= error %></div>
            <button type="button" class="btn-close ms-2" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
<% } %>